<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>BancoDemo</title>
</head>
<body>
    <header>
        <h1>BancoDemo</h1>
        <a href="/cadastro"><button>Abra sua conta</button></a>
        <a href="/login"><button>Acessar</button></a>
    </header>
    <section class="content">
        <div class="card_cartoes">   
            <img src="/img/Cartao.png" width="300px"/>
            <div>
                <h1>Cartão demo</h1><br>
                <h2>O melhor cartão para você.Sem tarifas e com cashback em diversas lojas.</h2><br>
                <h5>Moderno e simples.Sem anuidade e burocracia</h5>
            </div>
        </div>
        <div class="sobre">
            <div>
                <h1>Envie e receba pagamentos em segundos.</h1><br>
                <h3>Use o pix livremente para fazer pagamentos e trasnferências.Sem burocracia e sem custo.</h3>
                <ul>
                    <li>Loja exclusiva para clientes</li>
                    <li>CDB com 100% do CDI</li>
                    <li>Investimentos a partir de R$ 10</li>
                </ul>
            </div>
            <img src="/img/pessoa.png" height="350px"/>
        </div>
        <div class="empresas">
            <div>
                <h1>Abra sua conta PJ.</h1>
                <h3>Tenha benefícios exclusivos.</h3>
            </div>
            <img src="/img/CartaoB.png" alt="cartão para empresas" width="350">
        </div>
    </section>
    <footer>
        <h4>&copyBancoDemo</h4>
        <h5>Política de privacidade</h5>
        <h5>Privacidade de dados</h5>
        <h5>Segurança</h5>
    </footer>
</body>
</html>