<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/pix.css" rel="stylesheet">
    <title>BancoDemo</title>
</head>
<body>
    <header>
        <a href="/"><h1>BancoDemo</h1></a>
        <h3 id="userH1">Bem vindo(a) #</h3>
        <button id="btnvoltar">Voltar</button>
    </header>
    <section class="content">
        <div class="card">
            <h3 id="saldo"></h3><br>
            <h1>Preencha os dados do beneficiário</h1>
            <p id="erro"></p>
            <div class="info">
                <label>CPF:</label>
                <input type="text" id="usercpf"/>
            </div>
            <button id="botaopesq">Pesquisar</button>
            <div class="dados" id="userdiv">
                <h3 id="usernome">Nome</h3>
                <h3 id="useremail">E-mail</h3>
                <div>
                    <label>Valor a enviar</label>
                    <input type="text" id="valorpix"/>
                </div>
                <button id="botaoenv">enviar</button>
            </div>
        </div>        
    </section>
    <script src="/Js/pix.js"></script>
</body>
</html>